@tailwind base;
@tailwind components;
@tailwind utilities;

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.gridartwork {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
